@{
    ViewData["Title"] = "Home Page";
}

<h3 class="mb-0">Model 1</h3>
<partial name="../Components/Table" model="Model[0]" />

<hr />

<h3 class="mt-4 mb-0">Model 2</h3>
<partial name="../Components/Table" model="Model[1]" />

<hr />

<h3 class="mt-4 mb-0">Model 3</h3>
<partial name="../Components/Table" model="Model[2]" />
